<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style/skillz.css">
    <title>Skillz</title>
</head>
<body>
    <h1>Skillz</h1>
    <a href="../view/level-one-index.html"><button class="menu-item-button">Level one</button></a><span id='lvlOneResult'></span><br/>
    <hr/>
    <a href="../view/level-two-index.html"><button class="menu-item-button">Level two</button></a><span id='lvlTwoResult'></span><br/>
    <hr/>
    <a href="../view/level-three-index.html"><button class="menu-item-button">Level three</button></a><span id='lvlThreeResult'></span><br/>
    <hr/>
    <a href="../view/level-four-first.html"><button class="menu-item-button">Level four</button></a><span id='lvlFourResult'></span><br/>
    <hr/>
    <a href="../view/level-five-first.html"><button class="menu-item-button">Level five</button></a><span id='lvlFiveResult'></span><br/>

    <script src="../script/skillz.js"></script>
</body>
</html>