<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../style/skillz.css">
    <title>Fifth Level</title>
</head>

<body>
    <div class='table-border'>
        <progress value="0" max="18" id="progressBar"></progress><br/>
        <div class="level-text-align">Top score: <span id='lvlFiveResult'></span></div>
        <div id='question'></div>
        <div id='givenAnswers'></div>
    </div>

    <script src="../script/skillz.js"></script>
    <script src="../script/fifthLevelSkillz.js"></script>
</body>

</html>