<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../style/skillz.css">
    <title>First Level</title>
</head>

<body>
    <div class='table-border'>
        <progress value="0" max="15" id="progressBar"></progress>
        <div class="level-text-align">Top score: <span id='lvlFourResult'></span></div>
        <div class="level-text-align level-four-num-pos"><span id='firstValue'></span><span id='operation'></span><span id='secondValue'></span></div>
        
        <div id='results' class='level-four-btn-result'></div>
    </div>

    <script src="../script/skillz.js"></script>
    <script src="../script/fourthLevelSkillz.js"></script>
</body>

</html>