<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" type="text/css" href="../style/skillz.css">
    <title>Fifth Level</title>
</head>
<body>
    <progress value="0" max="15" id="progressBar"></progress>
    Top score: <div id='lvlFiveResult'></div>
    <div id='question'></div>

    <div id='givenAnswers'></div>

    <script src="../script/skillz.js"></script>
    <script src="../script/fifthLevelSkillz.js"></script>
</body>
</html>